absl-py==2.1.0
ace==0.3.3
aiohttp==3.9.5
aiosignal==1.3.1
astunparse==1.6.3
attrs==23.2.0
blinker
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
et-xmlfile==1.1.0
Flask==3.0.3
flatbuffers==24.3.25
frozenlist==1.4.1
gast==0.5.4
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.64.0
gspread==6.1.2
h5py==3.11.0
httplib2==0.22.0
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
keras
libclang==18.1.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl
ml-dtypes
multidict==6.0.5
namex
numpy
oauth2client
oauthlib
opencv-python
openpyxl
opt-einsum
optree
packaging
pandas
pillow
pluggy
protobuf
pyasn1
pyasn1_modules
Pygments
pyparsing
pytest
python-dateutil
pytz
requests
requests-oauthlib
rich
rsa
schedule
scikit-learn
scipy
setuptools
six
SQLAlchemy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
threadpoolctl
tkinterweb
twitchAPI
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wrapt
XlsxWriter
yarl
